@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');



body {
    margin:0px;
    padding:0px;
    min-height: 100vh;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;

}

.box {
    height: 100%;
    min-height: 95vh;
    background-color: #fffdf6;
    padding: 0;
    max-width: 800px;
    border-top: 20px solid lightpink;
    border-bottom: 20px solid lightpink;
    
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.task-area {
    border: 1px solid lightpink;
}

.task-tabs {
    display:flex;
    border-bottom : 1px solid lightpink;
    position : relative;
}

.task-tabs div {
    padding : 1em;
    cursor: pointer;
}

#under-line {
    background-color: lightpink;
    position: absolute;
    min-width: 54px;
    left: 0px;
    bottom:0;
    top: 54px;
    height: 4px;
    padding: 0px;
    transition: all 0.5s;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid lightpink;
}

.task-done {
    text-decoration: line-through;
}

.buttons {
    display: flex;
}

button {
    border: none;
    background: transparent;
}

h1 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    margin: 15px 0 0 0;
    letter-spacing: 1px;
}

.input-area{
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

#task-input {
    text-align: start;
    width: 500px;
    height: 36px;
    border: 2px solid lightpink;
    border-radius: 999px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.input-area input {
    border: 2px solid lightgray;
    width: 300px;
    text-align: start;
}

.task-tabs {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#task-board {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.task-tabs div {
    cursor : pointer;
}

.copyright {
    text-align: center;
}

footer {
    color: rgb(36, 34, 34);
    font-size: 0.8em;
}